
<div class="container">
  <form [formGroup]="formularioCambiarContrasena">
    
    <div class="form-group"> 
      <label for="password">Password</label>
      <input type="text" class="form-control" formControlName="password"  placeholder="password">
    </div>
    <div>
        <h1>{{nombre}}</h1>
    </div>
    <div class="form-group"> 
      <label for="repassword">Re-Password</label>
      <input type="text" class="form-control" formControlName="repassword"  placeholder="repassword">
    </div>
      <button type="button" class="btn btn-warning" [disabled]="!formularioCambiarContrasena.valid" (click)="cambiarContrasena()">INGRESAR</button>
  </form>
</div>
